

/*header start*/
.item {
  width: 30%;
  min-width: 0;
}

@media screen and (max-width: 768px) {
  @media screen and (max-width: 768px) {
    #head {
      flex-direction: column !important;
      }
      .item {
      width: 100%;
      }
    }
    #head {
      flex-direction: column !important;
    }
    .item {
    width: 100%;
    }
}

#head{
  margin-left: 75px;
}

.logo-font{
  font-size: 32px;
}

.lf-monk{
  color: white;
}

.lf-kee{
  color: #ff8200;
}

.lang{
  margin-top: 15px;
  margin-right: 20px;
  width: 124px;
  height: 21px;
  font-size: 15px;
  font-family: "Open Sans",arial,sans-serif;
  color: white;
}

.feed{
  margin-right: 20px;
  height: 25px;
  width: 140px;
  color: white;
  font-size: 16px;
  text-align: center;
  background: #ff8200;
  border-radius: 5px;
}

a .nak{
  color: #ff8200;
}

.nbr{
  height: 60px;
  font-family: "Open Sans",arial,sans-serif;
  font-size: 17px;

}

.nav-monk{
  color: black;
}

.nav-monk:hover{
  color: #ff8200;
}
/*header end*/
